* {
    box-sizing: border-box;
    margin: 0%;
}

.setting {
    background-color: rgba(255, 255, 255, 0.7);
    height: 70vmin;
    width: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.size {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20vmin;
    width: 80vmin;
    color: black;
    background-color: aqua;
}

.temperture {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20vmin;
    width: 80vmin;
    color: black;
}

.setting__choice {
    height: 5%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}